html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul,
ol,
li,
div,
p,
a,
span,
i,
strong,
section,
article,
header,
footer,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

input:focus {
  outline: none;
}

.cashmere {
  background: #cbc5c1;
}

.french {
  background: #a2aab0;
}

.white {
  background: #ebeced;
}

.denim {
  background: #4c586f;
}

.gunmetal {
  background: #3e3e3b;
}
